---
ci:
  # format compatible with commitlint
  autoupdate_commit_msg: "chore: pre-commit autoupdate"
  autoupdate_schedule: monthly
  autofix_commit_msg: |
    chore: auto fixes from pre-commit.com hooks

    for more information, see https://pre-commit.ci
  skip:
    # https://github.com/pre-commit-ci/issues/issues/55
    - pip-compile
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    # keep it before yamllint
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        # Temporary excludes so we can gradually normalize the formatting
        exclude: >
          (?x)^(
            docs/_static/.*\.css|
            src/sphinx_ansible_theme/.*\.css|
            src/sphinx_ansible_theme/.*\.html
          )$
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
        exclude: |
          (?x)(
              ^docs/conf.py$
          )
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/pycqa/flake8.git
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-absolute-import
          # - flake8-black>=0.1.1
          - flake8-docstrings>=1.5.0
          - flake8-mypy
        language_version: python3
  - repo: https://github.com/pre-commit/mirrors-mypy.git
    rev: v1.19.1
    hooks:
      - id: mypy
        alias: mypy-py314
        name: MyPy, for Python 3.14
        additional_dependencies:
          - lxml # requirement of `--txt-report`
          - Sphinx >= 3.1.2
          - types-setuptools
        args:
          - --namespace-packages
          - --python-version=3.14
          - --txt-report=.tox/.tmp/.mypy/python-3.14
          - src/sphinx_ansible_theme/
        pass_filenames: false
      - id: mypy
        alias: mypy-py312
        name: MyPy, for Python 3.12
        additional_dependencies:
          - lxml # requirement of `--txt-report`
          - Sphinx >= 3.1.2
          - types-setuptools
        args:
          - --namespace-packages
          - --python-version=3.12
          - --txt-report=.tox/.tmp/.mypy/python-3.12
          - src/sphinx_ansible_theme/
        pass_filenames: false
      - id: mypy
        alias: mypy-py310
        name: MyPy, for Python 3.10
        additional_dependencies:
          - lxml # requirement of `--txt-report`
          - Sphinx >= 3.1.2
          - types-setuptools
        args:
          - --namespace-packages
          - --python-version=3.10
          - --txt-report=.tox/.tmp/.mypy/python-3.10
          - src/sphinx_ansible_theme/
        pass_filenames: false
  - # keep at bottom as these are slower
    repo: local
    hooks:
      - id: pip-compile
        name: Check constraints files and requirements
        entry: uv pip compile -q --all-extras --python-version=3.10 --output-file=requirements.txt pyproject.toml
        language: python
        files: ^(requirements\.txt|pyproject\.toml)$
        alias: deps
        additional_dependencies:
          - uv>=0.6.6
      - id: pip-compile
        name: Update constraints files and requirements
        language: python
        entry: uv pip compile -q --all-extras --python-version=3.10 --output-file=requirements.txt --upgrade pyproject.toml
        pass_filenames: false
        additional_dependencies:
          - uv>=0.6.6
        files: ^(requirements\.txt|pyproject\.toml)$
        alias: up
        stages: [manual]
