---
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    # keep it before yamllint
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        # Temporary excludes so we can gradually normalize the formatting
        exclude: >
          (?x)^(
            docs/_static/.*\.css|
            sphinx_ansible_theme/.*\.css|
            sphinx_ansible_theme/.*\.html
          )$
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
  - repo: https://github.com/python/black.git
    rev: 22.10.0
    hooks:
      - id: black
        language_version: python3
        exclude: |
          (?x)(
              ^docs/conf.py$
          )
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.3.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://gitlab.com/pycqa/flake8.git
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-absolute-import
          # - flake8-black>=0.1.1
          - flake8-docstrings>=1.5.0
          - flake8-mypy
        language_version: python3
  #  - repo: https://github.com/pre-commit/mirrors-mypy
  #    rev: v0.770
  #    hooks:
  #      - id: mypy
  #        # empy args needed in order to match mypy cli behavior
  #        args: []
  #        entry: mypy sphinx_ansible_theme/
  #        pass_filenames: false
  #        additional_dependencies:
  #          - packaging
  - # keep at bottom as these are slower
    repo: local
    hooks:
      - id: pip-compile
        name: pip-compile
        entry: python3.9 -m piptools compile -q --no-annotate --output-file=requirements.txt setup.cfg --extra test --strip-extras
        language: python
        additional_dependencies:
          - pip-tools>=6.9.0
        files: ^(setup\.cfg|=requirements\.txt)$
        pass_filenames: false
        stages: [manual]
